body {
    background-color: rgb(61, 61, 61);
}

#search-bar {
    margin: auto;
    float: right;
    max-width: 350px;
}

#home {
    font-size: 30px;
}

.nav-link {
    margin: 10px;
    
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 100%;
}

.card {
    margin: auto;
    position: relative;
    top: 20px;
}

.card-text {
    overflow: auto;
}