{% layout 'layout.liquid' %}


{% block content %}

index (this) should hold all of your lists
{% for list in lists %}
    <div class="card" style="width: 30rem">
        <h3>List name: {{list.name}}</h3>
        <h3>List Description:{{list.description}}</h3>
        <h3>List of tags {{list.tags}}</h3>
    </div>
{% endfor %}


{% endblock %}