{% layout 'layout.liquid' %}


{% block content %}
<div class="container">
    <form action="/anime/show" method="POST">
        <fieldset class="start">
            <legend>Search Anime</legend>
            <label>Anime</label>
            <input 
                type="text" 
                name="anime"
            >
            <input 
            type="submit" 
            value="Search" 
            >
        </fieldset>
    </form>
</div>
<div>
    Mal ID is: {{data.mal_id}}
</div>
{% endblock %}