{% layout 'layout.liquid' %}

{% block content %}
    <!-- want to hide this if no list available -->
    <div>
        <h1>List Name: {{list.name}}</h1>
        <h2>Description: {{list.description}}</h2>
        <h3>Tags: {{list.tags}}</h3>
    </div>
    
    <div>
        please add anime to me here
    </div>
    

{% endblock %}