{% layout 'layout.liquid' %}

{% block content %}

<!-- <h3>Info is:{{data.data[0].mal_id}}</h3> -->
<!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
<h3>Info is:{{data.data[0].title}}</h3>

{% endblock %}