{% layout 'layout.liquid' %}

{% block content %}
 <!-- for loop inside for loop? -->
 <!-- <script>console.log(anime.data[1])</script> -->
 
 
 <!-- multiple for loops parses through the index, but shows multiple entries per loop -->
 
    {% for index in (0..24) %}
        <div class="card" style="width: 18rem">
            <h3>Mal ID is: 1 {{anime.data[index].mal_id}}</h3>
            <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
            <h3>Anime Title is:{{anime.data[index].title}}</h3>
            <img src="{{anime.data[index].images.jpg.image_url}}">
        </div>
    {% endfor %}

    <!-- need href to links to each show page for each show ('/anime/:mal_id') -->
      
    

{% endblock %}