{% layout 'layout.liquid' %}
{% block content %}


<div class="conatiner-md">
    <form action="/users/signup" method="POST">
        <fieldset>
            <legend style="color: white">New User</legend>
            <label class="form-label" style="color: white">Username:</label>
            <input 
                type="text" 
                name="username" 
                class="form-control"
            >
            <label class="form-label" style="color: white">Password:</label>
            <input 
                type="password" 
                name="password" 
                class="form-control"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create Account" 
            class="btn btn-success"
        >
    </form>
</div>
{% endblock %}